@media screen and (min-width: 1024px ) {
    .layout_cta{
        font-size: 1rem;
    }
 
    .card{
        max-width: 200px
    }
   /* left footer */
   
    .widjet--left--footer>img{
     width: 50px;
    }


    /* rigth footer */

    .left{
        max-width: 40%;
        max-height: 70%;
        display: flex;
    }
    .circle__bar{
        height: 20px;
    }
}