@media screen and (min-width: 768px ) {
    .layout_cta{
        font-size: 0.8rem;
    }
    .layout_sideBar{
        min-width: 250px;
    }
    .card{
        justify-content: flex-start;
        max-width: calc(25% - 20px);   
    }

   /* left footer */
   .text__music{
        font-size: 20px;
    }
    .text__title{
        font-size: 35px;

    }
    .widjet--left--footer>img{
     width: 45px;
    }

    /* right footer */
    .left{
        max-width: 40%;
        /* flex-grow: 1; */
        display: flex;
    }
    .circle__bar{
        height: 20px;
    }


}