@media screen and (min-width: 1024px ) {
    .layout_cta{
        font-size: 1rem;
    }
    .card{
        max-width: calc(16% - 20px);    /* flex-basis: calc(100% / 2); */
    }
    .left{
        max-width: 80%;
        max-height: 70%;
        /* flex-grow: 1; */
        display: flex;
    }
    .circle__bar{
        height: 20px;
    }
}