*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.clearfix::after {
	display: table;
	content: '';
	clear: both;
}
.none{
    display: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    /* width: 100%; */
}
