/* STYLE */
:root{
    --main: #141922;
    --aside:#000000;
    --footer:#282828;
}
figure {
    margin: 0; 
    padding: 0;
}
.flex{
    display: flex;
}
.aside{
    background-color: var(--aside) ;
    height: 90vh;
    width: 10vw;
}
.main{
    background-color: var(--main);
    height: 90vh;
    width: 80vw;
}
.footer{
    background-color: var(--footer);
    height: 10vh;
    width: 100vw;
}

/* inside aside */

.aside{
    flex-direction: column;
    justify-content: space-between;
}

.bottom-aside > figure,
.top-aside > figure {
    margin: 0 auto;
    height: 30px;
    width: 20px;
    align-items: center;

}

.bottom-aside > figure > img,
.top-aside > figure >img{

max-width: 100%;
}