/* STYLE */
*{
    font-family: Montserrat;
}
:root{
    --main: #141922;
    --aside:#000000;
    --footer:#282828;
    --grey:#A3A3A3;
    --green:#9FEB2B;
    --header:rgb(8, 11, 18, 0.7);
}
h1,
h2,
h3,
h4,
h5{
    text-transform: uppercase;
}
body{
    background-color: var(--main);
    color: white;
}

.layout-top{
    height: 90vh;
    display: flex;


    border: 3px solid lightblue;
}
.layout-bottom{
    border: 3px solid lightcoral;


    height: 10vh;
}
.layout_sideBar{
    background-color: var(--aside);

    /* flex-basis: 10%; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 10px 0;
}

.layout_main{
    overflow-y: auto;
    flex-basis: 90%;

}
/* CTA */
.layout_cta{
    padding: 20px;
    text-align: right;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--header);
    font-size: 0.8rem;
}
.btn{
    border: 1px solid white;
}
.btn--pill{
    padding: 10px 20px;
    border-radius: 20px;
}
.layout_sideBar--top{
    height: calc(100% - 100px);

}
.layout_sideBar--bottom{
    height: 100px;
}
.layout-bottom{

}
.layout_sideBar--logos{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}
.layout_sideBar--logos img[alt$="big"]{
    display: none;
}
.layout_sidebar--menus ul li a span{
   display: none; 
}
.layout_sidebar--menus ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.layout_sidebar--menus ul li a{
    padding-inline: 10px;
    text-transform: capitalize;
}
.layout_sidebar--playlist{
    display: none;
}

.layout_sideBar--bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: center;
    text-transform: capitalize;
}


.layout_sideBar--bottom a span,
.layout_sideBar--bottom hr {
    display: none;
}
.layout_sideBar--bottom a img[alt="profile icon"]{
    border-radius: 50%;
    background-color: var(--grey);
}

/* MAIN */

.category--tag{
  
    text-transform: uppercase;
    color: #767780;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    margin: 15px;

}
.category li{
    border-bottom: 1px solid var(--green);
}
.category--music--container{
    margin: 20px;
    border: 3px solid green;
}
.card--container{
    flex-basis: 300px;
    margin-top: 30px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    flex-shrink: 1;
    max-width: calc(45% - 20px);    /* flex-basis: calc(100% / 2); */
    text-align: center;
}
.img--container img{
    margin-bottom: 10px;
    width: 100%;
}

