/* STYLE */
*{
    color: var(--grey);
    font-family: Montserrat;
}
:root{
    --main: #141922;
    --aside:#000000;
    --footer:#282828;
    --grey:#A3A3A3;
    --green:#9FEB2B;
    --header:rgb(8, 11, 18, 0.7);
}
h1,
h2,
h3,
h4,
h5{
    text-transform: uppercase;
}
body{
    background-color: var(--main);
    color: white;
}

.layout-top{
    height: 90vh;
    display: flex;
}
.layout-bottom{
    background-color: var(--footer);
    height: 10vh;
}
.layout_sideBar{
   
    background-color: var(--aside);
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.layout_main{
    overflow-y: auto;
    flex-basis: 90%;

}
/* CTA */
.layout_cta{
    height: 10vh;
    padding: 20px;
    text-align: right;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--header);
    font-size: 0.8rem;
}

.btn{
    position: relative;
    top: 20px;
    border: 1px solid white;
}
.btn--pill{
    margin-block: 50px;
    padding: 10px 20px;
    border-radius: 20px;
}
.layout_sideBar--top{
    height: calc(100% - 100px);

}
.layout_sideBar--bottom{
    height: 100px;
}
.layout_sideBar--logos{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-block: 10px;
}
.layout_sideBar--logos img[alt$="big"]{
    display: none;
}
.layout_sidebar--menus ul li a span{
   display: none; 
}
.layout_sidebar--menus ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.layout_sidebar--menus ul li a{
    padding-inline: 10px;
    text-transform: capitalize;
}
.layout_sidebar--playlist{
    display: none;
}

.layout_sideBar--bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: center;
    text-transform: capitalize;
}


.layout_sideBar--bottom a span,
.layout_sideBar--bottom hr {
    display: none;
}
.layout_sideBar--bottom a img[alt="profile icon"]{
    border-radius: 50%;
    background-color: var(--grey);
}

/* MAIN */

.category--tag{
  
    text-transform: uppercase;
    color: #767780;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    margin: 15px;

}
.category li {
    border-bottom: 1px solid var(--green);
}
.container{
    display: flex;
    margin: 20px;
}
.card--container{
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
}
.card{
    position: relative;
    flex-basis: calc(100% / 2 - 20px);
    text-align: center;
}
.img--container{
    align-items: center;
    justify-content: center;
    display: flex;
}
.img--container img{
    position: relative;
    max-width: 200px;
    margin-bottom: 10px;
    width: 100%;
}
.fa-regular{
    display: none;
    position: absolute;
    font-size: 60px; 
}
.title-category,
.title-span{
    margin-left: 20px;
    margin-block: 30px;
}
/* 2 category */
.popular{
   margin-inline: 20px;
}


/* circle playList */
.category--music__circle {
    display: flex;
}

.circle>img{
    border-radius: 50%;
}

/* foooter */
/* img riproduzione */
.layout-bottom{
    padding-inline: 10px;
    display: flex ;
    justify-content: space-between;
}



.left--footbar,
.center--footbar,
.right--footbar{
    flex-basis: calc(100% / 3 );
}

/* left */

.widjet--left--footer{
    justify-content: start;
    align-items: center;
    display: flex;
    height: 100%;
    gap: 10px;
}
.left--footbar{
    padding-block: 30px ;
    padding-left: 1px;
}
.text__music{
    font-size: 10px;
}
.widjet--left--footer>img{
width: 25px;
}

/* center */

.center--footbar{
    display: flex;
    flex-direction: column;
}
.top-reproduction,
.bottom-reproduction{
    display: flex;
    flex-basis: calc(100% / 2);
}
.top-reproduction{
    align-items: center;
    justify-content: space-around;
    
}
.top-reproduction>figure>a>i{
    flex-basis: calc(100% / 5 );
}

/* bottom center */
.center--bottom--reproduction{
    min-height: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
   
}
.bar{
    align-items: center;
    display: flex;
    position: relative;
    border-radius: 20px;
    height: 10px;
    width: 100%;
    background-color: var(--grey);
}
.half__bar{
    display: none;
    border-radius: 25px;
    align-items: center;
    justify-content: flex-end;
    height: 10px;
    
    position: absolute;
    width: 60%;
    background-color: var(--green);
 
}

.circle__bar{
    /* display: none; */
    position: absolute;
    aspect-ratio: 1;
    height: 20px;
    border-radius: 50%;
    background-color: whitesmoke;
}

.left{
    display: none;
}
.right--footbar{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
